#projetos{
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(63.13deg, black 51.04%, rgb(39, 39, 39) 51.05%);
}

#projetos h1{
    position: relative;
    top: 130px;
    margin: auto;
    width: 285px;
    color: gray;
    transition: 0.5s;
    font-size: 60px;
}
#projetos h1:hover{
    color: white;
    transform: scale(1.05);
}

#projetos #area-projetos{
    width: 80%;
    height: 500px;
    margin: auto;
    top: 220px;
    position: relative;
    text-align: center;
}
#projetos #area-projetos div {
    display: inline-flex;
    background-color: rgb(173, 173, 173);
    width: 30%;
    height: 45%;
    margin: 11px;
    border: solid 3px;
    border-color: rgb(66, 66, 66);
    border-radius: 10px;
}

#projetos #area-projetos div img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}


div h3 {
    margin-top: 30%;
    background-color: rgb(241, 0, 0);
    font-size: 25px;
    width: 100%;
    height: 20%;
    color: white;
    border-top: solid 2px;
    border-bottom: solid 2px;
    z-index: 10;
}
